<div class="three-block-container clearfix">
          <div class="span4 homepage-seasonal with-featured-tag">
            <h3>Best Deal</h3>
            <a href='/pages/subscriptions'>
              <div class="image-container">
                <div class="ribbon-wrapper"><div class="ribbon orange">20% Off</div></div>
                <img src="{{ 'homeBlock_1.jpg' | asset_url }}" class="image" alt="Erie Bone Broth Subscription" />
              </div>
              <h2 class="product-title">Bone Broth Subscription</h2>
              <p class="product-description mb0">Monthly Deliveries. Big Savings.</p>
              <p class="product-note">* 3 Month Minimum</p>
              <p class="product-price price">as low as $9.40 Per Pouch<del>$18.75</del></p>
              <div class="btn">Get Started</div>
            </a>
          </div>
          <div class="span4 homepage-combos">
            <h3>Premium Broth</h3>
            <a href='/collections/premium-bone-broth'>
              <div class="image-container">
                <img src="{{ 'homeBlock_3.jpg' | asset_url }}" alt="Quality Ingredients" class="image" />
              </div>
              <h2 class="product-title">Quality Ingredients</h2>
              <p class="product-description">Pasture Raised Chicken &amp; Turkey on Organic Farms</p>
              <div class="btn">Start Shopping</div>
            </a>
          </div>
          <div class="span4 homepage-wholesale last">
            <h3>Health Benefits</h3>
            <a href='/pages/health-benefits'>
              <div class="image-container">
                <img src="{{ 'homeBlock_2.jpg' | asset_url }}" class="image" alt="Health Benefits of Erie Bone Broth" />
              </div>
              <h2 class="product-title">Eat, Drink, Feel Good</h2>
              <p class="product-description">Learn about the restorative health benefits of our premium bone broth</p>
              <div class="btn pt10">Health Benefits</div>
            </a>
          </div>
        </div>

        {% if settings.homepage != blank %}
        <!-- Begin intro -->
        <div class="span12 p20">
          <div class="intro clearfix">
            <h2>{{ pages[settings.homepage].title }}</h2>
            <div>{{ pages[settings.homepage].content }}</div>
          </div>
        </div>
        <!-- End intro -->
        {% endif %}
      
        <div class="products">
          {% for product in collections[settings.frontpage_collection].products %}
{% comment %} BOLD-PRODUCT LIGHT VERSION {% endcomment %}
{% include 'bold-product' with product, hide_action: 'skip' %}

          {% include 'product-loop' with settings.frontpage_collection %}
          {% endfor %}
        </div>

        {% if settings.show_collections and settings.frontpage_collections != '' and settings.frontpage_collections != 'main-menu' and linklists[settings.frontpage_collections].links.size > 0 %}
        <div class="products">
          {% for link in linklists[settings.frontpage_collections].links %}
          {% if link.type == 'collection_link' %}
            {% assign collection = link.object %}
            {% include 'collection-loop' %}
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}